
/CodeBases
/DailyQA/DailyQA-main
password.txt
qaproject-441416-f5fec0c61099.json
/DistortionQA
/Archive/*
/WatchFolder/*
ManHoursSaved.npy
ManHoursSaved.npy
/Sheets_Backup
ErrorLog.txt
/PyInstaller
/build
\.PyInstaller\*
